body {
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 32px;
    color: #333;
}
/*style header background*/
.header {
    overflow: hidden;
    padding: 20px; 10px;
    margin-bottom: 0px;
    color: #333;
    background: #fff;
    border-radius: 4px;
    border-bottom: #333;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
/*style header links*/
.header a {
    float: left;
    color:  #333;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    
}
/*style the name link*/
.header a.name {
    position: fixed;
    top: 0;
    left: 30px;
    padding: 40px;
    margin: 0;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background: aquamarine;
    padding: 36px 30px 36px 30px;    margin-bottom: 0px;
    margin-left: 30px;
}
/*change link bg color on mouse-over*/
.header a.hover {
    background-color: aquamarine;
    color: white;    
}
/*Float links to the right*/
.header-right {
    float: right;
}
#fixed {
    position: fixed;
    top: 0;
    left: 30px;
    padding: 40px;
    margin: 0;
    text-align: center;
    background: #eee;

}
section {
    padding: 20px;
    margin-bottom: 20px;
    background: #FFA500;
}
#name {
    padding: 20px;
    color: teal;
    font-size: 36px;
}
#nav {
    padding: 20px;
    color: gray;
    font-size: 24px;
}

#full {
    width: 100%;
    overflow: auto;
    clear: both;
    color: #fff;
    background: #bec0c0;
}
#division {
    padding: 20px;
    margin-top: 20px;
    background: #214fb3;
}